.CreateGroupPage { position: relative; }
.GroupInfo {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
}

.CreateGroupPage,
.ContactChooser,
.GroupInfo {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.CreateGroupPage .toolbar {
  flex: 0 0;
  flex-basis: 48px;
  display: flex;
  width: 100%;
  height: 48px;
  border-bottom: 1px solid #e8e8e8;
}
.CreateGroupPage .toolbar-btn {
  flex: 0 0;
  flex-basis: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: none;
  cursor: center;
  cursor: pointer;
}
.CreateGroupPage .toolbar-title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  color: #362C33;
  margin: 0;
}
.CreateGroupPage .search-container {
  flex: 0 0;
  flex-basis: 45px;
  display: flex;
  background: white;
  border-bottom: 1px solid #e8e8e8;
  justify-content: flex-start;
  align-items: center;
}
.CreateGroupPage .search-container .icon {
  flex: 0 0;
  flex-basis: 45px;
}
.CreateGroupPage input.search-input {
  flex: 1;
  height: 100%;
  padding: 10px;
  border: 0;
  outline: none;
}
.CreateGroupPage ul.selected-contact-container {
  margin: 0 0;
  margin-top: 10px;
  padding: 0;
  list-style: none;
  flex: 0 0 auto;
  overflow: hidden;
  overflow-x: auto;
  display: flex;
}
.CreateGroupPage li.selected-contact-item {
  display: flex;
  width: 50px;
  height: 70px;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 5px;
  padding-top: 5px;
  flex-shrink: 0;
}
.CreateGroupPage li.selected-contact-item .avatar-container {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
  flex-basis: 40px;
}
.CreateGroupPage li.selected-contact-item .selected-contact-avatar {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: inherit;
  overflow: hidden;
}
.CreateGroupPage li.selected-contact-item .remove-selected-contact-btn {
  position: absolute;
  top: -5px;
  right: -5px;
  background: none;
  border: none;
  height: 20px;
  width: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.CreateGroupPage li.selected-contact-item .remove-selected-contact-btn i.icon {
  flex: 1;
  height: 20px;
  width: 20px;
}
.CreateGroupPage li.selected-contact-item .selected-contact-displayname {
  font-size: 13px;
  color: black;
  flex: 0;
  flex-basis: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 44px;
  white-space: nowrap;
  text-align: center;
}
.CreateGroupPage .contact-list-container,
.CreateGroupPage .participant-list-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: white;
}
.CreateGroupPage .contact-list-header,
.CreateGroupPage .participant-list-header {
  flex: 0 0;
  flex-basis: 45px;
  height: 45px;
  padding-left: 10px;
  background: #fafafa;
  align-items: flex-end;
  display: flex;
  padding: 10px;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #666;
}
.CreateGroupPage .contact-list-container .contact-list,
.CreateGroupPage .participant-list-container .participant-list {
  list-style: none;
  padding: 0 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
}
.CreateGroupPage .contact-list-container .contact-item,
.CreateGroupPage .participant-list-container .participant-item {
  display: flex;
  flex: 0 0;
  flex-basis: 45px;
  overflow: hidden;
  align-items: center;
}
.CreateGroupPage .contact-list-container .avatar-container,
.CreateGroupPage .participant-list-container .avatar-container {
  flex: 0 0 30px;
  overflow: hidden;
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
}
.CreateGroupPage .contact-list-container .contact-avatar,
.CreateGroupPage .participant-list-container .participant-avatar {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}
.CreateGroupPage .contact-list-container .contact-item button {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  background: none;
  border: 0;
  border-bottom: 1px solid #e8e8e8;
  margin-left: 10px;
  height: 60px;
  font-size: 14px;
  color: #2C2C36;
  cursor: pointer;
}
.CreateGroupPage .contact-list-container .contact-item .displayname-container {
  flex: 1;
  text-align: left;
}
.CreateGroupPage .contact-list-container .contact-item .icon {
  flex: 0;
  flex-basis: 25px;
}
.CreateGroupPage .participant-item .participant-detail {
  display: flex;
  flex: 1;
  margin-left: 10px;
  height: 100%;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
}
.CreateGroupPage .participant-item .participant-detail .participant-name {
  flex: 1;
}
.CreateGroupPage .participant-item .participant-detail .remove-participant {
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
  overflow: hidden;
}
.CreateGroupPage .participant-item .participant-detail .remove-participant .icon {
  width: 20px;
  height: 20px;
}
.CreateGroupPage .group-info-container {
  flex: 0 0 100px;
  display: flex;
}
.CreateGroupPage .group-info-container .avatar-container {
  flex: 0 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.CreateGroupPage .group-info-container .avatar-preview {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}
.CreateGroupPage .group-info-container .avatar-picker-btn {
  position: absolute;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.3);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CreateGroupPage .group-info-container .group-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.CreateGroupPage .group-info-container label {
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #979797;
}
.CreateGroupPage .group-info-container input {
  padding: 10px 5px;
  border:none;
  border-bottom: 1px solid #666;
  outline: none;
}
